



{% extends "book/index.html" %}
{% load i18n %}
{% block content %}
<h1>{% trans "Asylguiden.se" %}</h1>
<p>{% trans "Asylguiden is and plattform for delevering information beetween people" %}</p>

<h2>{% trans "People working on Asylguiden" %}</h2>

<table>
	<tr><td width="200" ><b>Mattias</b>
			<p><a href="mailto:mattias@asylguiden.se">mattias@asylguiden.se</a></td></p>
			
		<td><b>Mattias</b>
			<p><a href="mailto:mattias@asylguiden.se">mattias@asylguiden.se</a></td></p>
	</tr>

	<tr><td width="200"><b>Mattias</b>
			<p><a href="mailto:mattias@asylguiden.se">mattias@asylguiden.se</a></td></p>
			
		<td><b>Mattias</b>
			<p><a href="mailto:mattias@asylguiden.se">mattias@asylguiden.se</a></td></p>
	</tr>
</table>			






<h2>{% trans "Contact Asylguiden" %}</h2>

<form>
		<input type="text" name="subject" placeholder="Subject"/>
		<textarea>
		</textarea>
    	<button type="submit" class="btn btn-success">Send</button>

</form>


{%endblock%}