<!-- Load extra tags -->
 {% load users_tags %}-->
<!--Top tags for meny-->
{% get_top_tags %}
{% get_top_location %}

<!--Tags for typahead -->
{% get_location %}
{% get_tags %}



{% extends "book/index.html" %}

{% block content %}
<h1>Asylguiden.se</h1>
<p>Asylguiden is and plattform for delevering information beetween people</p>

<h2>People working on Asylguiden</h2>

<table>
	<tr><td width="200" ><b>Mattias</b>
			<p><a href="mailto:mattias@asylguiden.se">mattias@asylguiden.se</a></td></p>
			
		<td><b>Mattias</b>
			<p><a href="mailto:mattias@asylguiden.se">mattias@asylguiden.se</a></td></p>
	</tr>

	<tr><td width="200"><b>Mattias</b>
			<p><a href="mailto:mattias@asylguiden.se">mattias@asylguiden.se</a></td></p>
			
		<td><b>Mattias</b>
			<p><a href="mailto:mattias@asylguiden.se">mattias@asylguiden.se</a></td></p>
	</tr>
</table>			






<h2>Contakt Asylguiden</h2>

<form>
		<input type="text" name="subject" placeholder="Subject"/>
		<textarea>
		</textarea>
    	<button type="submit" class="btn btn-success">Send</button>

</form>


{%endblock%}