{% extends "book/index.html" %}
{% load i18n %}

{% block content %}
{% for user in auther %}
<div class="alert alert-success">{% trans "Auther:"%}<a href="/user/{{user.username }}" > {{user.first_name }} {{user.last_name }}</a>, Validated , {% trans "Posts"%}: {{ user.postscount }}, {% trans "Level" %}: {{ user.read }} </div>
{% endfor %}
 {% for a in articels %}
   	
    <h1> {{ a.title }}</h1>
    <h3>Tags: {% for t in a.tags %}{{t}} {%endfor %}</h3>
    <h3>Locations: {% for l in a.location %}{{l}} {%endfor %}</h3>
    {% autoescape off %}{{a.text}}{% endautoescape %}

<div class="alert alert-success">{% trans "Views"%}:{{a.page_views}}, {% trans "Rate" %}:{{a.page_rate}} </div>
{% if user.is_authenticated %}
    <div id="status" class="alert alert-warning">{% trans "Rate this articel" %} <button onclick="vote('5','{{ a.id }}')">5</button> - 4 - 3 - 2 - 1</div>
{% endif %}
{% endfor %}
<form name="rate">
 {% csrf_token %}
</form>

<script type="text/javascript">


function vote(dataString,articel) {

    var csrfmiddlewaretoken =   document.forms['rate'].elements['csrfmiddlewaretoken'].value;
    $('#status').empty()

    $.ajax({
    url : "http://localhost:8000/book/rate",
    type: "POST",
    data : "csrfmiddlewaretoken=" + csrfmiddlewaretoken+ "&rate="+dataString+"&articel="+articel,
    success: function(data, textStatus, jqXHR)
    {
        $('#status').append(data)
    },
    error: function (jqXHR, textStatus, errorThrown)
    {

    }
});



}


</script>


{%endblock%}