{% extends "book/index.html" %}
{% load i18n %}

{% block content %}

<div class="alert alert-success">{% trans "Auther:"%}<a href="/user/{{auther.username }}" > {{auther.first_name }} {{autherlast_name }}</a>, Validated , {% trans "Posts"%}: {{ autherpostscount }}, {% trans "Level" %}: {{ auther.read }} </div>

   	
    <h1> {{ articels.title }}</h1>
    <h3>Tags: {% for t in articels.tags %}{{t}} {%endfor %}</h3>
    <h3>Locations: {% for l in articels.location %}{{l}} {%endfor %}</h3>
    {% autoescape off %}{{articels.text}}{% endautoescape %}

<div class="alert alert-success">{% trans "Views"%}:{{articels.page_views}}, {% trans "Rate" %}:{{articels.page_rate}} </div>
{% if user.is_authenticated %}
    <div id="status" class="alert alert-warning">{% trans "Rate this articel" %} <button onclick="vote('5','{{ a.id }}')">5</button> - 4 - 3 - 2 - 1</div>
{% endif %}

<form name="rate">
 {% csrf_token %}
</form>

<script type="text/javascript">


function vote(dataString,articel) {

    var csrfmiddlewaretoken =   document.forms['rate'].elements['csrfmiddlewaretoken'].value;
    $('#status').empty()

    $.ajax({
    url : "http://localhost:8000/book/rate",
    type: "POST",
    data : "csrfmiddlewaretoken=" + csrfmiddlewaretoken+ "&rate="+dataString+"&articel="+articel,
    success: function(data, textStatus, jqXHR)
    {
        $('#status').append(data)
    },
    error: function (jqXHR, textStatus, errorThrown)
    {

    }
});



}


</script>


{%endblock%}