{% extends "book/index.html" %}
{% load i18n %}

{% block content %}
<h1>{% trans "Help us" %}</h1>


<table>
	<tr><td valign="top" width="200">
	<!-- Staring menu -->
		<li><a href="#write">Artwork</a></li>
		<li><a href="#search">Programmer</a></li>
	<!-- Ending menu -->
	</td>
	<td valign="top" >
		<!-- Startin help section-->
		<h3>Artowork</h3>
		<p>New banner to put on sites that supports asylguiden.se</p>
		<h3>Programmer</h3>
		<p>Facebook and twitter conections point
			Takes the latest 10 articels everyday and displays them in a list in twitter and facebook</p>
	<!-- Ending help -->
	</td>
	</tr>	
</table>

{%endblock%}