{% extends "book/index.html" %}
{% load i18n %}
{% block content %}
<h1>{% trans "Tech" %}</h1>

<table>
	<tr><td valign="top" width="200">
	<!-- Staring menu -->
		<li><a href="http://www.centos.org/">Centos</a></li>
		<li><a href="http://httpd.apache.org/">Apache</a></li>
		<li><a href="https://www.python.org/">Python</a></li>
		<li><a href="http://www.mongodb.org/">MongoDB</a></li>
		<li><a href="http://mongoengine.org/">Mongoegine</a></li>
		<li><a href="https://www.djangoproject.com/">Django</a></li>
		<li><a href="http://getbootstrap.com">Boostrap</a></li>
		<li><a href="http://jquery.com/">JQuery</a></li>
	<!-- Ending menu -->
	</td>
	<td valign="top">
		<!-- Startin help section-->
		<h2>Releases</h2>
        <p><b>1.1.2</b> Upload of imgaes, New About and tech pages</p>
        <p><b>1.1.1</b> Updating language support</p>


        <h2>Services and tools used</h2>
        <h4>Centos</h4>
		<p>Base os for servers running the site</p>
		<h4>Apache</h4>
		<p>Webserver running for hosting the site	</p>
        <h4>Python</h4>
		<p>Primary programing language</p>
        <h4>Mongodb</h4>
		<p>Database system that is used</p>
        <h4>Mongoegine</h4>
		<p>Making djnago and Mongodb woring as a dream</p>
        <h4>Django</h4>
		<p>Python webframwork</p>
        <h4>Boostrap</h4>
		<p>CSS and html framework</p>
        <h4>Jquery</h4>
		<p>User experience javascript framwork</p>
	<!-- Ending help -->
	</td>
	</tr>	
</table>


{%endblock%}