{% extends "book/index.html" %}
{% load i18n %}
{% block content %}
<h1>{% trans "Tech" %}</h1>

<table>
	<tr><td valign="top" width="200">
	<!-- Staring menu -->
		<li><a href="#ubuntu">Ubuntu</a></li>
		<li><a href="#apache">Apache</a></li>
		<li><a href="#pythom">Python</a></li>
		<li><a href="#mongodb">MongoDB</a></li>
		<li><a href="#mongoegine">Mongoegine</a></li>
		<li><a href="#django">Django</a></li>
		<li><a href="#bootstrap">Boostrap</a></li>
		<li><a href="#jquery">JQuery</a></li>
	<!-- Ending menu -->
	</td>
	<td valign="top">
		<!-- Startin help section-->
		<h3>Ubuntu</h3>
		<p>Base os for servers running the site</p>
		<h3>Apache</h3>
		<p>Webserver running for hosting the site	</p>
	<!-- Ending help -->
	</td>
	</tr>	
</table>


{%endblock%}