{% extends "book/index.html" %}

{% block content %}
{%if info == "error" %}
<div class="alert">
  <button type="button" class="close" data-dismiss="alert">&times;</button>
  <strong>Error</strong> Wrong Login please efter correct username ore password
</div>

{%endif%}

<h1>Login</h1>
<form action="" method="post">

	{% csrf_token %}

	<p><label for="id_username">Username:</label> 
		<input id="id_username" type="text" name="username" maxlength="30" /> <span class="helptext"></span></p>
<p><label for="id_password1">Password:</label> 
	<input type="password" name="password" id="id_password" /></p>

	<input type="submit" value="Loggin" class="btn btn-success">
</form>

{%endblock%}