{% extends "book/index.html" %}
{% load i18n %}
{% block content %}

{%if info == "reset" %}
<div class="alert">
  <button type="button" class="close" data-dismiss="alert">&times;</button>
  <strong>{% trans "Reset Link generated" %}</strong>{% trans " An reset link has bean generated and send to you email." %}
</div>

{%endif%}

{%if info == "error" %}
<div class="alert">
  <button type="button" class="close" data-dismiss="alert">&times;</button>
  <strong>{% trans "No email found" %}</strong>{% trans " There was no users found with that email." %}
</div>

{%endif%}



<h1>{% trans "Reset Password" %}</h1>
<p>{% trans "To resett you password please provide us with your email addres to you account" %}</p>
<form action="" method="post">

	{% csrf_token %}

	<p><label for="id_email">{% trans "Email:" %}</label>
		<input id="id_email" type="text" name="email" maxlength="30" /> <span class="helptext"></span></p>
	<input type="submit" value="Resett" class="btn btn-success">
</form>

{%endblock%}