{% extends "book/index.html" %}
<!-- Load extra tags -->
{% load users_tags %}
{% load i18n %}
{% block content %}

<!--Getting user data from mongodb and adding   -->
<h1>{% trans "My page" %}</h1>
{%if info == "saved" %}
<div class="alert alert-success">
  <button type="button" class="close" data-dismiss="alert">&times;</button>
  <strong>{% trans "Updated!" %}</strong>{% trans  "You account has bean updated." %}
</div>

{%endif%}
<br>

        <!-- Nav tabs -->
<ul class="nav nav-tabs">
  <li class="active"><a href="#home" data-toggle="tab">{% trans  "Account Settings" %}</a></li>

  <li><a href="#messages" data-toggle="tab">{% trans  "User Detailjs" %}</a></li>
  <li><a href="#settings" data-toggle="tab">{% trans "Articels" %}</a></li>
</ul>

<!-- Tab panes -->
<div class="tab-content">
  <div class="tab-pane active" id="home">
                                    <div class="row">
                                    <div class="col-md-4">
                                <form action="" method="post" class="form-horizontal">
								{% csrf_token %}
								<p><label for="id_username">{% trans  "Username:" %}</label>
									<input id="id_username" class="form-control" type="text" name="username" maxlength="30" value="{{ username }}" readonly="readonly"/> <span class="helptext"></span></p>
								<p><label for="id_password1">{% trans  "Password:" %}</label>
								<input type="password" class="form-control" name="password1" id="id_password1" /></p>
								<p><label for="id_password2">{% trans  "Password confirmation:" %}</label>
								<input type="password" class="form-control" name="password2" id="id_password2" /> <span class="helptext">Enter the same password as above, for verification.</span></p>
									<div class="control-group">
									<p><label class="control-label">{% trans  "Emaill:" %}</label>
									<div class="controls">
									<input type="email" class="form-control" name="email" id="id_email" value="{{ useremail }}" /> <span class="helptext">{% trans "Enter you email address" %}</span><p class="help-block"></p></p>
	                                </div>
								</div>
								<input type="submit" name="user_settings" value="Save" class="btn btn-success" class="form-control">
							</form>
 </div>
                                    </div>
  </div> <!-- Closing tab row -->

  <div class="tab-pane" id="messages">
   <form action="" method="post">
                                   <div class="row">
                                    <div class="col-md-4">

								{% csrf_token %}
								<input type="hidden" name="id" value="{{user.id}}">
                                <!-- <img src="/static/profile/thumb_{{ user_id }}.jpg" />-->
								<p><label for="id_fname">{% trans  "Name:" %}</label>

									<input class="form-control" id="id_fname" type="text" name="id_fname" maxlength="30" value="{{userinfo.first_name}}" />
									<span class="helptext"></span></p>

								<p><label for="id_sname">{% trans  "Surname:" %}</label>
								<input type="text" class="form-control" name="id_sname" id="id_sname" value="{{userinfo.last_name}}"/></p>
								<p><label for="id_addres">{% trans  "Address:" %}</label>
								<input type="text" class="form-control" name="id_address" id="id_address" value="{{userinfo.address}}"/> <span class="helptext"></span></p>
								<p><label for="id_addres">{% trans  "Postnumber" %}:</label>
								<input type="text" class="form-control" name="id_postnr" id="id_postnr" value="{{userinfo.postnr}}"/> <span class="helptext"></span></p>
								<p><label for="id_cell">{% trans  "Phone:" %}</label>
								<input type="text" class="form-control" name="id_cell" id="id_cell" value="{{ userinfo.cell }}"/> <span class="helptext"></span></p>
								<p><label for="id_cell">{% trans  "Contry:" %}</label>
								<select class="form-control" name="country">
<option value="Sweden">{% trans  "Sweden" %}</option>
<option value="Sweden">{% trans  "Germany" %}</option>


								</select>
								<span class="helptext">{% trans  "Contry of stay" %}</span></p>

								<p><label for="id_cell">{% trans  "Langage:" %}</label>
								<select class="form-control" multiple="multiple" name="id_language">
								  <option>{% trans  "Swedish" %}</option>
								  <option>{% trans  "English" %}</option>
								  <option>{% trans  "Germany" %}</option>
								</select>
								<span class="helptext">{% trans  "Languages to write and read articels in. Press  to mark several" %}</span></p>
								<input  type="submit" name="user_detial" value="Save" class="btn btn-success" class="form-control">
							</form>
                </div>
                </div>
                <!-- Closing row for tab -->


  </div>
  <div class="tab-pane" id="settings">

  <table class="table table-striped">
						<tr><td><h3>{% trans  "Title" %}</h3></td><td><h3>{% trans  "Tags" %}</h3></td><td><h3>{% trans  "Location" %}</h3></td><td></td></tr>
                        {% for articel in users_articel%}
						<tr><td>{{articel.title}}</td><td>
								{% for t in articel.tags %}
									{{t}}
									{%endfor %}
							</td><td>
								{% for l in articel.location %}
										{{l}}
										{%endfor %}
							</td><td><a href='/book/change/{{ articel.id }}'><button  class="btn btn-warning" type="button">{% trans  "Change" %}</button></a> <a href="/book/delete/{{ articel.id }}"><button id="example" class="btn btn-danger" type="button">{% trans  "Delete" %}</button></a></td></tr>
						 {% empty %}
  						<tr><td>{% trans  "No Articels" %}<td></tr>
						{%endfor%}
				</table>
  </div>
</div>







{%endblock%}